<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fotos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let photo of photoService.photos; index as position" style="margin-bottom: 16px;">

        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)" style="width: 100%;"></ion-img>


        <ion-footer class="photo-footer">
          <ion-row>

            <ion-col size="12">
              <div class="button-container">

                <ion-button fill="clear" color="danger" size="small" (click)="likePhoto(position)">
                  <ion-icon name="heart"></ion-icon>
                  <span>{{ likes[position] || 0 }}</span>
                </ion-button>

                <ion-button fill="clear" size="small" (click)="toggleComments(position)">
                  <ion-icon name="chatbubble"></ion-icon>
                  <span>{{ photo.comments ? photo.comments.length : 0 }}</span>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>

          <div *ngIf="showComments[position]" class="comments-section">
            <ion-item>
              <ion-input [(ngModel)]="newComment[position]" placeholder="Digite seu comentário"></ion-input>
            </ion-item>
            <ion-button expand="block" size="small" (click)="addComment(position)">Adicionar Comentário</ion-button>

            <ion-list *ngIf="photo.comments && photo.comments.length > 0">
              <ion-item *ngFor="let comment of photo.comments">
                <ion-label>{{ comment }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
