<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <div class="logo-container">
      <ion-img src="assets/imgs/logo.png" class="logo"></ion-img>
    </div>

    <div class="form-container">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button expand="block" color="primary" (click)="login()">Autenticar</ion-button>
      </div>

      <p class="signup-message">Não possui cadastro? <a (click)="navigateToSignup()">Clique aqui</a></p>
    </div>
  </div>
</ion-content>
