<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Cabeçalho colapsável -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Upload</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <div *ngIf="hasTemporaryPhotos" class="fab-action-container">
      <ion-fab-button (click)="confirmPhotos()" class="confirm-button">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </div>

    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    
    <div *ngIf="hasTemporaryPhotos" class="fab-action-container">
      <ion-fab-button (click)="discardPhotos()" class="discard-button">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

  <!-- Exibir fotos temporárias -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.temporaryPhotos">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
