ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  ion-fab-button {
    --background: none;
    --color: white;
  }
  
  ion-icon {
    font-size: 24px;
  }

  .login-message {
    margin-top: 15px;
    font-size: 14px;
    color: var(--ion-color-medium);
    text-align: center;
  }
  
  .login-message a {
    color: var(--ion-color-primary);
    text-decoration: underline;
  }
  