<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload" href="/tabs/upload">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <!-- Novo botão de aba para Photos -->
    <ion-tab-button tab="fotos" href="/tabs/fotos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
